*.pyc
*.log
.*.swp
.DS_Store
/*.pyc
/*.pylc
/build
*/build/
/dist
*/_build/
tests/__pycache__
tests/temp.snpy
tests/table.dat
*.cache/
dist
.eggs
MANIFEST
snpy.egg-info
dm15temp/*.pyc
SwiftTemp/*.pyc
filters/*.pyc
lib/*.pyc
lib/*.swp
lib/err*.obj
lib/kerror.py
spline2/*.pyc
sqlmod/*.pyc
tspack/*.pyc
utils/*.pyc
__pycache__
.cache
MANIFEST
