*.log
.*.swp
.DS_Store
/*.pyc
/*.pylc
CSPtemp/*.pyc
/build
*/build/
*/_build/
dm15temp/*.pyc
SwiftTemp/*.pyc
filters/*.pyc
lib/*.pyc
lib/*.swp
lib/err*.obj
lib/kerror.py
spline2/*.pyc
sqlmod/*.pyc
tspack/*.pyc
utils/*.pyc
tests/__pycache__
