recursive-include docs *
include CHANGELOG
include INSTALL
include README.md
include snpy/*.pickle
include snpy/*.dat
include snpy/typeIa/*
include snpy/CSPtemp/*.pickle
include snpy/dm15temp/*.pickle
include snpy/SwiftTemp/*.dat
include snpy/utils/*.pickle
recursive-include snpy/filters/filters *
recursive-include snpy/filters/standards *
exclude snpy/filters/standards/CALSPEC/*
